name <input [(ngModel)]="name"><br>
email <input [(ngModel)]="email"><br>
<button (click)="addContact(name,email)" mat-raised-button color="primary" >add </button>
<!-- <h1 #showname>{{name}} </h1> -->
<h1 *ngIf="name == 'hicham'">{{name}} </h1>

<div *ngFor="let value of data">
         <mat-card>
          <mat-card-content>{{value.id}}   ||   {{value.name}}   ||   {{value.email}}

            <button mat-raised-button color="warn" (click)="showName(value.id)">delete</button>
          </mat-card-content>

        </mat-card><br>
</div>



